{% extends 'hospital/navigation.html' %}
{% block body %}
<div class="container">
  <h2 class='text-canter'>View Patient</h2>
  <table class='table table-hover' id='example'>
    <thead>
      <tr>
        <th>Patient ID</th>
        <th>Patient Name</th>
        <th>Gender</th>
        <th>Contact</th>
        <th>Address</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% for j in pat %}
    <tr>
      <td>{{j.id}}</td>
      <td>{{j.name}}</td>
      <td>{{j.gender}}</td>
      <td>{{j.mobile}}</td>
      <td>{{j.address}}</td>
      <td><a href="{% url 'delete_patient' j.id %}"onclick="return confirm('Are u really want to delete')"class='btn btn-success'>Delete</a></td>

    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
